.row {
    margin-left: 0;
    margin-right: 0;
}

.home-highlight-top-row {
    margin: 0px 0px 0px 0px;
}

.home-highlight-top {
    padding: 20px 0px 0px 0px;
}

.home-highlight-top img {
    display: block;
    margin: auto;
    border-radius: 20px;
    width: 90%;
}

/* .home-highlight-top div {
    display: block;
    margin: auto;
    height: 100px;
    width: 90%;
} */


/* .home-highlight-top figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 90%;
}
.home-highlight-top figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
} */

section.highlight-top-part {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffffff;
    background-color: #1E2087;
}

.home-highlight-top .highlight-top-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 12px;
    text-align: center;
    color: #FFF100;
}

.home-highlight-top .highlight-top-text {
    font-size: 18px;
    margin-top: 12px;
    /* min-height: 100px; */
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

.menu-list-product .cart-overlay-wrap {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100.1%;
    background: rgba(228, 185, 91, 0.9);
    top: 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    -webkit-transform: scale(0) rotate(-180deg);
    -moz-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.menu-list:hover .cart-overlay-wrap {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    z-index: 1;
}

.menu-list-product .highlight-cart-btn {
    line-height: 40px;
    width: 100%;
    background-color: #372727;
    color: #ffffff;
    height: 40px;
    display: inline-block;
    text-align: center;
    font-family: 'Graviola-Regular';
    text-transform: uppercase;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    font-size: 16px;
}

.purchase-btn {
    margin-left: 0 !important;
}

a.view {
    color: #ffffff;
}

a.checkout {
    color: #ffffff;
}


.slick-shop img{
    width: 100%;
    height: auto;
    max-height: 400px;
    max-width: 400px;
}






.service-record.highlight .container .build-title h2 {
    color: #ffffff;
}

.service-record.highlight .container .build-title h6 {
    color: #ffffff;
}

.service-record.highlight .container .service-port-outer {
    color: #ffffff;
}


.service-port-next.highlight h5 {
    color: #C31925;
}

.service-record.highlight-single {
    background-color: #1E2087;
}

.service-record.highlight-single .container .build-title h2 {
    color: #ffffff;
}

.service-record.highlight-single .container .build-title h6 {
    color: #ffffff;
}

.service-record.highlight-single .container .service-port-outer {
    color: #ffffff;
}


.service-port-next.highlight-single h5 {
    color: #FFF100;
}



.welcome-part .container .build-title h2 {
    color: #FFF100;
}

.welcome-part .container .build-title h6 {
    color: #FFF100;
}

.special-menu .container .build-title h2 {
    color: #ffffff;
}

.special-menu .container .build-title h6 {
    color: #ffffff;
}

.special-menu.highlight-menu .container .build-title h2 {
    color: #e4b95b;
}

.special-menu.highlight-menu .container .build-title h6 {
    color: #e4b95b;
}

.contact-part .container .title h2 {
    color: #FFF100;
}

.contact-part .container .title h6 {
    color: #FFF100;
}

.contact-part .container .row * label {
    color: #ffffff;
}

.contact-part .container .row * h5 {
    color: #e4b95b;
}


.menu-round.highlight {
    background:transparent;
    text-align: center;
}

/* .menu-round-img.highlight {
    float: ;
    width: 100%;
    height: 220px;
    -webkit-border-radius: 17px 17px 0px 0px;
    -moz-border-radius: 17px 17px 0px 0px;
    -ms-border-radius: 17px 17px 0px 0px;
    -o-border-radius: 17px 17px 0px 0px;
    border-radius: 17px 17px 0px 0px;
} */

.menu-round-img.highlight img {
    max-height: 100%;
}
/* 
.menu-round-info.highlight {
    float: left;
    width: 100%;
    -webkit-border-radius: 0px 0px 17px 17px;
    -moz-border-radius: 0px 0px 17px 17px;
    -ms-border-radius: 0px 0px 17px 17px;
    -o-border-radius: 0px 0px 17px 17px;
    border-radius: 0px 0px 17px 17px;
    padding: 24px 30px;
} */

.menu-round-info.highlight h5 {
    padding-right: 0;
    color: #20202f;
}

.menu-round-info.highlight h5 span {
    color: #20202f;
}

.menu-round-info.highlight p {
    margin: 0px;
    position: relative;
    color: #20202f;
}

.menu-list a{
    color: #20202f;
}
